body {
    margin: 0;
    padding: 0;
}
div.wrapper, figcaption {
    font-family: 'Times New Roman', Times, serif;
    color: #414141;
}


/* header */
header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
figure {
    margin: 0;
}
figure img {
    width: 100%;
    position: relative;
    min-height: 200px;
    object-fit: cover;
    object-position: 15% 100%;
}

div.title {
    font-size: 14px;
    color: #eee;
    text-shadow: 3px 3px #111;
    position: absolute;
    top: 25px;
    margin: 0 10%;
}
header h1 {
    margin-top: 55px;
    margin-bottom: 0px;
}
header figcaption {
    font-size: 0.8em;
    margin: 0 3%;
}


/* programming language nav */
.lang-contents {
    margin: 0 3% 55px;
    font-size: 1.1em;
}
.lang-contents a {
    color: #505050;
}
.lang-contents ol {
    list-style-type: none;
    counter-reset: olstyles;
}
.lang-contents li {
    margin: 3px 0;
}
.lang-contents li::before {
    display: inline-flex;
    content: counter(olstyles);
    counter-increment: olstyles;
    background: #005EB8;
    color: #fffafa;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}


/* article */
article.programs {
    margin: 35px 3% 50px;
}
article.programs h2 {
    border-left: 5px solid #2eac04;
    padding-left: 10px;
    margin-bottom: 0;
}
article.programs div {
    margin-bottom: 30px;
}


/* the programming languages */
div.lang {
    margin: 0 3%;
    margin-bottom: 100px;
}
div.lang h3 {
    display: flex;
    font-size: 1.5em;
    align-self: center;
    text-align: left;
}
div.lang section {
    margin-bottom: 50px;
    text-align: justify;
}


/* other blogs */
.otherblogs {
    margin: 80px 3% !important;
}
.otherblogs a {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.otherblogs h3 {
    text-align: center;
    margin: 50px 0 35px;
}
.otherblogs div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 15px;
}
.otherblogs .img {
    max-width: 440px;
    aspect-ratio: 3 / 2;
    background-size: cover !important;
    position: relative;
}
.otherblogs .img div {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 2px;
    position: absolute;
    bottom: -5px;
    border: 0.3px solid #9f9f9f;
    border-radius: 4px;
}
.otherblogs h6 {
    margin: 0;
}
.otherblogs a:hover h6 {
    color: #0088ff;
    text-decoration: underline;
}
.otherblogs a.img:hover {
    transform: scale(0.98);
}



/* responsive */
@media screen and (min-width: 480px) {
    div.title {
        font-size: 16px;
        top: 20px;
    }
}
@media screen and (min-width: 680px) {
    div.title {
        font-size: 18px;
        top: 50px;
        margin: 0 8%;
    }
    header, div.wrapper {
        font-size: 1.1em;
    }
    .otherblogs div.grid {
        gap: 18px;
    }
}
@media screen and (min-width: 980px) {
    div.wrapper {
        margin: 0 8%;
        max-width: 950px;
        font-size: 18px;
    }
    div.title {
        top: 120px;
        margin: 0 10%;
        padding: 0;
        box-sizing: border-box;
        max-width: 900px;
        width: 100%;
    }
    figure img {
        height: 440px;
        object-fit: cover;
    }
    header, div.wrapper {
        font-size: 1.3em;
    }
    .otherblogs div.grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}
@media screen and (min-width: 1400px) {
    div.wrapper {
        margin: 0 auto;
    }
    div.title {
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
