.wrapper-nav {
    position: absolute;
    top: 0;
}



body {
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
}


figure {
    margin: 40px 0;
}
header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
}
header h1 {
    background: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 10px;
    font-size: 2.4em;
    position: absolute;
    top: 5.9em;
    margin: 0 10% 0 5%;
}
figcaption {
    margin-left: 3%;
}


/* article */
article.facts h3 {
    font-size: 1.5em;
}
article.facts {
    margin: 5px 3%;
}
article.facts p {
    margin-bottom: 40px;
    line-height: 1.4;
}


/* other blogs */
.otherpages {
    max-width: 800px;
    margin: 35px 3%;
}
.otherpages a {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.otherpages h3 {
    text-align: center;
    margin: 80px 0 30px;
}
.otherpages div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 15px;
}
.otherpages .img {
    max-width: 430px;
    aspect-ratio: 3 / 2;
    background-size: cover !important;
    position: relative;
    border-radius: 4px;
}
.otherpages .img div {
    width: 100%;
    background: #fff;
    color: #111;
    padding: 2px;
    position: absolute;
    bottom: -5px;
    border: 0.3px solid #9f9f9f;
    border-radius: 4px;
}
.otherpages h6 {
    margin: 0;
}
.otherpages a:hover h6 {
    color: #0088ff;
    text-decoration: underline;
}
.otherpages a:hover {
    transform: scale(0.98);
}



/* Responsive */
@media screen and (min-width: 720px) {
    
    header h1 {
        font-size: 2.9em;
        top: 5.1em;
    }
    article.facts {
        color: #444;
        font-size: 19px;
        max-width: 800px;
        margin: 0 10%;
    }
    .otherpages {
        margin: 35px 10%;
    }

}
@media screen and (min-width: 980px) {

    .otherpages div.grid {
        grid-template-columns: repeat(4, 1fr);
    }

}
@media screen and (min-width: 1400px) {

    header div {
        max-width: 1400px;
        margin: 0 auto;
    }
    header h1 {
        top: 5em;
    }
    article.facts {
        margin: 0 auto;
    }
    .otherpages {
        margin: 35px auto;
    }

}
