body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}
div.iceage {
    padding: 0 3%;
    letter-spacing: 0.1px;
    max-width: 980px;
    text-align: justify;
}


/* header */
header {
    padding: 0 3%;
    padding-bottom: 20px;
    border-bottom: 1px solid #a3a3a3;
    margin: 0 auto;
    max-width: 1200px;
}
header h1 {
    margin-bottom: 0;
}
header div.title {
    margin: 25px 0 30px;
}
header figure {
    margin: 0;
}
header figure img {
    width: 100%;
    border-radius: 10px;
    height: 80%;
    object-fit: cover;
}
header figcaption {
    font-size: 0.8em;
    color: #5e5e5e;
    padding-left: 10px;
}


/* article */
ol {
    padding-left: 15px;
}
article {
    margin: 55px 0;
}
li::marker {
    font-size: 20px;
}
article div img {
    width: 100%;
    border-radius: 10px;
}
article figcaption {
    font-size: 0.8em;
    padding-left: 2%;
}
div.iceage article h2 {
    text-align: left;
}




/* responsive */
@media screen and (min-width: 850px) {

    body {
        font-size: 1.1em;
    }
    div.iceage {
        padding: 0 5%;
        margin: 0 auto;
    }
    header {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 2%;
        margin-top: 25px;
        padding: 0 2%;
    }
    header div.title {
        align-content: center;
        padding-bottom: 25px;
        text-align: center;
        font-size: 1.1em;
    }

}
@media screen and (min-width: 1200px) {
    
    div.iceage, header {
        font-size: 1.2em;
    }

}
