main {
    padding: 0 3%;
    color: #494949;
    max-width: 1200px;
    margin: 0 auto 50px;
    font-size: 1.1rem;
}


header {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #bfbfbf;
}


/* new blogs */
div.newblogs * {
    box-sizing: border-box;
}
div.newblogs {
    max-width: 800px;
    margin: 40px 0;
    text-align: center;
}
div.newblogs div {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}
div.newblogs a {
    display: inline-block;
    text-decoration: none;
    color: #3f3f3f;
}
div.newblogs img {
    width: 100%;
    border-radius: 5px;
    max-width: 400px;
}
div.newblogs h4 {
    background: #fff;
    margin: 0;
    padding: 2px;
    font-weight: 500;
    box-shadow: 2px 2px #5e5e5e;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 6px;
}
div.newblogs div:hover img {
    transform: scale(0.97);
}
div.newblogs div:hover a {
    background: #efefef;
    border-radius: 10px;
    text-decoration: underline;
}


/* FAQ */
.faq {
    max-width: 800px;
    width: 100%;
    margin-bottom: 50px;
}
.faq h4 {
    font-weight: 100;
    letter-spacing: 0.5px;
    border: 1px solid #cfcfcf;
    margin: 0;
    padding: 5px;
}
.faq p {
    margin: 0 0 10px;
    padding-top: 10px;
    text-align: justify;
}
.faq .box {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
.faq div.a {
    display: none;
    padding: 0 5px;
    border-left: 4px solid aliceblue;
}
.faq div.q {
    position: relative;
}
.faq div.q h4 {
    padding-right: 25px;
}
.faq h4::after {
    content: "";
    display: inline-block;
    background: url("../../assets/images/caret.png") no-repeat center / contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5.5px;
    right: 10px;
}
.faq h4.showBox::after {
    transform: rotate(180deg);
}
.faq .box:hover div.q {
    background: #eee;
}


/* social media */
div.social div a {
    margin: 2px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    text-decoration: none;
    color: #3f3f3f;
}
div.social a:hover {
    background: #3f3f3f;
    border-color: #3d3d3d;
    color: #fffafa;
    text-decoration: underline;
}



@media screen and (min-width: 680px) {
    header {
        font-size: 1.1rem;
    }
    div.newblogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }
    div.newblogs h2 {
        grid-column: span 2;
    }
}
