.wrapper {
    margin: 0;
}


div header {
    text-align: center;
    font-size: 18px;
}
div header h1 {
    padding: 10px;
    margin: 20px;
}


/* search */
form.search {
    text-align: center;
    margin: 40px 0 80px;
}
form.search input {
    width: 80%;
    max-width: 550px;
    height: 40px;
    border-radius: 15px;
    padding: 0 10px 0 20px;
}


/* blogs */
section.blogs {
    margin: 40px 2%;
    display: grid;
    justify-content: center;
    list-style: none;
}
section.blogs div {
    margin: 20px 2%;
}
section.blogs figure {
    margin: 0;
}
section.blogs img {
    width: 100%;
    max-width: 440px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
section.blogs h3 {
    margin: 5px 0;
}
section.blogs a {
    text-decoration: none;
    color: #2f4f4f;
}

/* hover effects */
section.blogs div:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}
section.blogs div:hover img {
    height: 180px;
}



@media screen and (min-width: 680px) {
    section.blogs {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 980px) {
    section.blogs {
        grid-template-columns: repeat(3, 1fr);
        margin: 40px 3%;
    }
}

.filtered {
    display: none !important;
}