body {
    margin: 0;
    padding: 0;
}


header {
    margin: 0 auto;
}


/* contact page */
main {
    margin: 20px auto;
    max-width: 800px;
}
main div {
    margin: 10px;
}
main input {
    display: block;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 20px;
}
main textarea {
    display: block;
    padding: 5px;
    width: 100%;
    height: 50px;
}
main button {
    padding: 5px 10px;
}
