main {
    padding: 0 3%;
    color: #494949;
    max-width: 1200px;
    margin: 0 auto 50px;
    font-size: 1.1rem;
}



header {
    text-align: center;
}


/* new blogs */
div.newblogs {
    max-width: 800px;
    margin: 40px 0;
    text-align: center;
}
div.newblogs div {
    margin-bottom: 30px;
}
div.newblogs a {
    text-decoration: none;
    color: #3f3f3f;
}
div.newblogs img {
    width: 100%;
    border-radius: 5px;
    max-width: 400px;
}
div.newblogs h4 {
    margin: 0;
    font-weight: 500;
}
div.newblogs a:hover {
    text-decoration: underline;
}


/* FAQ */
.faq {
    max-width: 800px;
    width: 100%;
    margin-bottom: 50px;
}
.faq h4 {
    font-weight: 100;
    letter-spacing: 0.5px;
    border: 1px solid #cfcfcf;
    margin: 0;
    padding: 5px;
}
.faq p {
    margin: 10px 0;
    text-align: justify;
}
.faq .box {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
.faq div.a {
    display: none;
    padding: 0 5px;
}
.faq div.q img {
    height: 12px;
    float: right;
    padding: 5px;
}

.faq .box:hover div.q {
    background: #efefef;
}


/* social media */
div.social div a {
    margin: 2px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    text-decoration: none;
    color: #3f3f3f;
}
div.social a:hover {
    background: #3f3f3f;
    color: #fff;
    text-decoration: underline;
}



@media screen and (min-width: 680px) {
    div.newblogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }
    div.newblogs h2 {
        grid-column: span 2;
    }
}
