body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
div.wrapper-nav {
    width: 100%;
    margin: 0 auto;
    z-index: 5;
}



/* nav */
nav * {
    color: #fff !important;
    font-size: 16px;
    font-family: verdana;
}
nav {
    background: #3f3f3f;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0 15px;
}
nav a {
    text-decoration: none;
    padding: 14px;
}
nav ul.nav-menu {
    display: none;
}

/* ICESNOW */
nav .nav-VinterEis {
    font-size: 20px;
    border: 5px solid #82adee;
    border-radius: 25px;
    padding: 3px 5px;
}



/* menu icon */
div.nav-icon {
    margin: auto 15px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}
div.nav-menu-icon {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 5px;
}
div.nav-icon:hover {
    background: #aaa;
    cursor: pointer;
}
nav a:hover {
    color: #aaa !important;
    text-decoration: underline;
}




/* click event */
.nav-clicked {
    z-index: 3;
    display: block;
    position: absolute;
    width: 100%;
    background: #3f3f3f;
    top: 40px;
}
ul.nav-clicked {
    padding: 0;
}
.nav-clicked li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #505050;
}
.nav-clicked a {
    display: block;
    padding: 13px 0;
    text-align: center;
}



/* footer */
div.footer {
    margin-top: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    color: #eee;
}
div.footer .footers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ddd;
    padding: 30px 3% 5px;
    max-width: 1400px;
    margin: 15px auto 0;
}
div.footer section.myBlogs {
    padding: 0 5px 5px 0;
    justify-self: center;
}
div.footer ul {
    padding-left: 0;
    list-style-type: none;
    text-align: left;
    margin-top: 0;
}
div.footer li {
    margin-bottom: 3px;
}
div.footer .footers a {
    color: #cfcfcf;
    text-decoration: none;
}
div.footer .footers h4 {
    color: #eee;
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 10px;
}

div.footer .social-media {
    padding: 0 !important;
    justify-self: center;
}
div.footer ul.social-media {
    padding-left: 10%;
    padding-bottom: 5px;
    border-left: none;
}
div.footer section.social-media a {
    font-size: 1.1em;
}
div.footer .social-media img {
    width: 15px;
}
/* footer's hover */
div.footer .footers a:hover {
    color: #fff;
    text-decoration: underline;
}
div.footer p {
    color: #eee;
    font-size: 0.9em;
    text-align: center;
    margin: 0;
    padding: 11px;
}



/* resposive styles */
@media screen and (min-width: 420px) {
    div.footer {
        font-size: 15px;
    }
}

@media screen and (min-width: 680px) {

    nav a {
        padding: 20px 15px;
    }
    div.footer {
        font-size: 16px;
    }
    div.footer .footers {
        grid-template-columns: 2fr 1fr;
    }
    div.nav-icon {
        display: none;
    }
    div ul.nav-menu {
        display: flex;
    }

}
@media screen and (min-width: 780px) {

    nav a {
        padding: 20px;
    }

}
@media screen and (min-width: 980px) {
    nav a {
        font-size: 1.05em;
        padding: 20px 23px;
    }
    div.footer .social-media {
        border-left: 2px solid #999;
    }
    div.footer .footers {
        grid-template-columns: repeat(3, 1fr);
    }
    div.footer ul.social-media {
        padding-left: 20px !important;
    }
    div.footer .social-media {
        justify-self: left;
    }
    div.footer .learn_more {
        justify-self: center;
    }
    div.footer section.myBlogs {
        justify-self: right;
    }

}